# Config file for automatic testing at travis-ci.org

language: python

python:
  - "3.5"
  - "3.6"
  - "pypy3.5"

# Workaround for Python 3.7: https://github.com/travis-ci/travis-ci/issues/9815
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

# command to run tests, e.g. python setup.py test
script: pip install virtualenv && make test
